<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Обзор торговой недели (06.1.25- 10.1.25)</h3>
        <div>
            <h4>Новости</h4>
            <p>🟠 В понедельник выйдет German Prelim CPI m/m, значение выше предыдущего может спровоцировать рост евро.</p>
            <p>🟠 Во вторник по США выйдет индекс цен на услуги и статистика по новым рабочим местам.</p>
            <p>🟠 В среду будет известен ИПЦ Австралии.🔴 И чуть позже у нас Non Farm Payroll и заявление Феда.</p>
            <p>🔴 В пятницу опубликуют процент безработных по США и Канаде.</p>
            <h4>Текущие сделки</h4>
            <p>
                Я вышел с прибылью из сделки по продаже EURUSD (1.0456 » 1.0290). 
                С фундаментальной точки зрения ничего не поменялось, 
                просто жду технического отката и пробоя институционального уровня для следующей сделки.
            </p>
            <p>Держу продажу по NZDUSD</p>
            <h4>Идеи</h4>
            <p>
                Новых идей нет.
            </p>
        </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Обзор торговой недели (30.12.24 - 3.1.25)</h3>
        <div>
            <p>Тихая на статистику новогодняя неделя -  
                выйдет PMI, ожидается что он будет на прежнем уровне, 
                то есть для австралийца и новозеландца ситуация не меняется, 
                и они как падали против доллара так и будут падать, 
                2 января выйдут данные по заявкам по безработице в США, 
                ожидается, что количество заявок вырастет, 
                может в моменте ослабить доллар, и так же в пятницу будет опубликован индекс цен производителей США, 
                эксперты и тут не ожидают никаких изменений.</p>
            <h4>Текущие сделки</h4>
            <p>
                Продолжаю продавать Евро против доллара США и так же начал продавать Новозеландца против доллара США
            </p>
            <h4>Идеи</h4>
            <p>
                Новых идей нет.
            </p>
        </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Обзор торговой недели (23.12.24 - 27.12.24)</h3>
        <div>
            <p>Во-первых, следующая торговая неделя - праздничная для США и Европы.
                В понедельник еще будет какая-то активность, например, выйдет ВВП Канады. 
                Ожидается, что он вырастет с 0.1% до 0.2%.</p>
            <p>
                В среду будет пресс конференция банка Японии, так же по Японии будет статистика по потребительским ценам в Токио,
                 ожидается, что показатель вырастет с 2.2% до 2.5%,
                 что опять же должно только укрепить мнение BOJ о необходимости увеличения ставки. (И в результате привести к удорожанию йены, что должно позитивно сказаться на моей сделке по продаже евро против йены - ЕЦБ снижает ставку, 
                а от Банка Японии мы ожидаем повышения ставок в январе). 
            </p>
            <p>
                Так же в четверг увидим статистику по безработице в США.
            </p>
            <h4>Открытые позиции</h4>
            <p>
                <b>EURUSD Продажа</b><br>
                ЕЦБ понизил ставку, остаюсь в продаже
            </p>
            <p>
                <b>EURJPY Продажа</b><br>
                К сожалению BOJ сохранил ставку на прежнем уровне, пока останусь в позиции до января, надеюсь,
                на новые слухи о увеличении ставки в 2025.
            </p>
            <h4>Идеи</h4>
            <p>
                <b>NZDUSD</b><br>
                Стоит все же продать Новозеландский доллар против доллара США. Отличная динамика на продажу,
                три недели курс падает, ставка 4.25 против 4.50 у феда, и данные по ВВП за третий квартал тоже не порадовали,
                что еще больше подстегнет Банк Новой Зеландии к решению о сокращении ставки.
            </p>
        </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Обзор торговой недели (16.12.24 - 20.12.24)</h3>
        <div>
            <p>Больше всего на следующей неделе меня интересуют не данные по инфляции в Евро как не странно, 
                хотя они должны подтвердить снижение ставки ЕЦБ, состоявшееся на прошлой неделе, 
                а американская ставка в среду, которая, как ожидают эксперты, 
                должна быть снижена на 25 б.п. 4.75>4.50, и BOJ, 
                который тоже должен выдать решение о ставке ранее так же в среду. </p>
            <p>
                <b>USDCAD</b><br>
                USDCAD можно покупать на откате, в Канаде на прошлой неделе выходили слабые данные по рынку труда, 
                а доллар укрепляется не смотря на то, что трейдеры ожидают  сокращения ставки в следующем году, возможно даже в декабре (https://www.cmegroup.com/markets/interest-rates/cme-fedwatch-tool.html)
                C другой стороны нестабильность в Сирии поднимет цены на нефть, что позитивно скажется на канадце. 
            </p>
            <h4>Открытые позиции</h4>
            <p>
                <b>EURUSD Продажа</b><br>
                Имбаланс ставок говорит сам за себя по прежнему, 
                и снижение ставки ЕЦБ на прошлой неделе подтверждает идею об ослаблении евро против доллара.
            </p>
            <p>
                <b>EURJPY Продажа</b><br>
                К долллару японская йена скорее должна укрепляться, все ожидают повышения ставки или сохранение ставки от BOJ.
                 Сохранение ставки видится гораздо более реалистичным теперь,
                 после того как Фед снизил свою ослабив доллар. 
                 <a href="https://tradingeconomics.com/japan/currency" target="_blank">Ссылка на источник</a>
            </p>
            <h4>Идеи</h4>
            <p>
                <b>NZDUSD</b><br>
                Мне нравится как выглядит пара NZDUSD с технической точки зрения.И похоже Новозеладский ЦБ думает
                 о снижении ставки весь следующий год, а она у них 4.25.
                 <br>
                 <i>Markets currently see a 66% chance of a 50bps cut at the central bank’s February meeting, 
                 with rates projected to drop to around 3.10% by the end of 2025. On the economic data front, 
                 New Zealand’s manufacturing sector contracted further in November (45.5 vs 45.8 in October), 
                 marking its lowest level in four months. </i>
                    <a href="https://tradingeconomics.com/new-zealand/currency" target="_blank">Ссылка на источник</a>
            </p>
        </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Trend Strength Index</h3>
        <div><b>Trend Strength Index</b> - это индикатор, который показывает силу рынка.
            По сути, это похоже на упрощенный индикатор авторегрессии, поскольку корреляция
             функция вычисляет коэффициент корреляции Пирсона между двумя наборами данных: 
             цены закрытия и индексы баров на указанной длине. Этот коэффициент колеблется от -1 до 1, 
             указывающий силу и направление линейной зависимости между индексом бара и ценой закрытия бара.
             <br>
             <img style="width: auto;  height: auto; max-width: 60%; max-height: 60%;" src="https://c.mql5.com/18/156/727641391177.png">
             <br>
             <b>Интерпретация:</b>
            
             <ul>
                <li>Значение около 1 означает сильный восходящий тренд с небольшим отклонением от среднего значения.</li>
                <li>Значение около -1 означает сильный нисходящий тренд с небольшими отклонениями от среднего.</li>
                <li>Значение около 0 означает, что возможен флет.</li>
            </ul>
            <br>
            <a href="https://www.mql5.com/en/code/51255" target="_blank">Ссылка на пост на mql5.com</a>

        </div>
    </div>
</div>