<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Еженедельный обзор - aнализ предстоящей недели</h3>
        <div>
            <p>
                <b>USDCAD</b><br>
                USDCAD можно покупать на откате, в Канаде на прошлой неделе выходили слабые данные по рынку труда, А доллар укрепляется не смотря на то, что трейдеры ожидают  сокращения ставки в следующем году, возможно даже в декабре (https://www.cmegroup.com/markets/interest-rates/cme-fedwatch-tool.html)
                C другой стороны нестабильность в Сирии поднимет цены на нефть, что позитивно скажется на канадце. 
            </p>
            <p>
                <b>GBPUSD</b><br>
                BOE не рассматривает возможность снижения ставки в следующем году, 
                что говорит против любых сделок по продаже фунта против других валют. 
                Но так же на этой неделе выходит PMI Британии и будет голосование по ставке в четверг, 
                так что до этого времени я бы поостерегся размещать ордера.
            </p>
            <p>
                <b>EURUSD</b><br>
                На следующей неделе много макро статистики по Еврозоне 
                (PMI в понедельник вместе с американским PMI, ВВП по США в четверг)
            </p>
            <p>
                <b>EURJPY</b><br>
                Я рассматриваю продажу пары, кажется, что в моменте Йена 
                будет расти из-за нестабильности в Сирии, из-за того,
                что они предполагают повышение ставки (19 будет заявление от BOJ) 
                чтобы остановить падение своей валюты против доллара США.
                Кроме того, если мы увидим в понедельник снижающийся PMI можно с уверенностью говорить о том,
                что ECB не будет менять ставку.
            </p>
        </div>
    </div>
</div>
<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
        <h3>Trend Strength Index</h3>
        <div><b>Trend Strength Index</b> - это индикатор, который показывает силу рынка.
            По сути, это похоже на упрощенный индикатор авторегрессии, поскольку корреляция
             функция вычисляет коэффициент корреляции Пирсона между двумя наборами данных: 
             цены закрытия и индексы баров на указанной длине. Этот коэффициент колеблется от -1 до 1, 
             указывающий силу и направление линейной зависимости между индексом бара и ценой закрытия бара.
             <br>
             <img style="width: auto;  height: auto; max-width: 60%; max-height: 60%;" src="https://c.mql5.com/18/156/727641391177.png">
             <br>
             <b>Интерпретация:</b>
            
             <ul>
                <li>Значение около 1 означает сильный восходящий тренд с небольшим отклонением от среднего значения.</li>
                <li>Значение около -1 означает сильный нисходящий тренд с небольшими отклонениями от среднего.</li>
                <li>Значение около 0 означает, что возможен флет.</li>
            </ul>
            <br>
            <a href="https://www.mql5.com/en/code/51255" target="_blank">Ссылка на пост на mql5.com</a>

        </div>
    </div>
</div>