<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://thefinefolio.com" class="font-weight-bold ml-1" target="_blank">FineFolio</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <!--li class="nav-item">
          <a href="https://thefinefolio.com" class="nav-link" target="_blank">FineFolio</a>
        </li-->
        <li class="nav-item">
          <a href="mailto:dzyuba.stanislaw@mail.ru?subject=ff_issue" class="nav-link" target="_blank">Report a problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank">sdziuba@outlook.com</a>
        </li>
        <!--a href="https://freekassa.ru" target="_blank" rel="noopener noreferrer">
          <img src="https://cdn.freekassa.ru/banners/small-red-2.png" title="Receving payments on the site">
        </a-->
        <!--li class="nav-item">
          <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
        </li-->
      </ul>
    </div>
  </div>
</footer>
