<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="card shadow" style="margin-bottom:3rem;">
        <div class="card-header bg-transparent">
            <div class="container-fluid">
                <div class="header-body">
                </div>
            </div>
            <!--h2 style="margin-left: 10px; margin-bottom: 20px; margin-top: 40px;">!!! THIS FORM IS FOR NON-US-RESIDENTS !!!</h2>
            <h2 style="margin-left: 10px; margin-bottom: 20px; margin-top: 40px;">:) INFORMATION YOU FILL HERE WON'T BE STORED OR SAVED, IT'S ALL PERSONALE :)</h2>
            <h2 style="margin-left: 10px; margin-bottom: 20px; margin-top: 40px;">Fill out the following fileds: </h2-->
            <h2 style="margin-left: 10px; margin-bottom: 20px; margin-top: 40px;"><b>Part I: Identification of Beneficial Owner (see instructions)</b></h2>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>1. Name of individual who is the beneficial owner</h3>
                <input style="margin-bottom:10px" type="text" placeholder="Enter your full name">
                <h3>2. Country of citizenship</h3>
                <input type="text" placeholder="Country of citizenship">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>3. Permanent residence address (street, apt. or suite no., or rural route). Do not use a P.O. box or in-care-of address. </h3>
                <input type="text" placeholder="Your address">
                <h3>City or town, state or province. Include postal code where appropriate.</h3>
                <input type="text" placeholder="Your address"><input type="text" placeholder="Country">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>4. Mailing address (if different from above)</h3>
                <input type="text" placeholder="Mailing address">
                <h3>City or town, state or province. Include postal code where appropriate.</h3>
                <input type="text" placeholder="Your address"><input type="text" placeholder="Country">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>5. U.S. taxpayer identification number (SSN or ITIN), if required (see instructions)</h3>
                <input type="text" placeholder="Mailing address">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>6a. Foreign tax identifying number (see instructions)</h3>
                <input type="text" placeholder="FTIN">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>6b. Check if FTIN not legally required</h3>
                <input type="checkbox">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>7. Reference number(s) (see instructions)</h3>
                <input type="text">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>8. Date of birth (MM-DD-YYYY) (see instructions)</h3>
                <input type="date">
            </div>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <h2 style="margin-left: 10px; margin-bottom: 20px; margin-top: 40px;"><b>Part II: Claim of Tax Treaty Benefits (for chapter 3 purposes only) (see instructions)</b></h2>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <h3>9. I certify that the beneficial owner is a resident of <input type="text"></h3>
                <h3>10. <b>Special rates and conditions</b> (if applicable—see instructions): The beneficial owner is claiming the provisions of Article and paragraph</h3>
                <h3><input type="text"> of the treaty identified on line 9 above to claim a <input type="text"> % rate of withholding on (specify type of income): </h3>
                <input type="text" placeholder="Type of income">
                <h3>Explain the additional conditions in the Article and paragraph the beneficial owner meets to be eligible for the rate of withholding:</h3>
                <input type="text" placeholder="Evidence of eligibility">
            </div>
            <h2 style="margin-left: 10px; margin-bottom: 20px; margin-top: 40px;"><b>Part III: Certification</b></h2>
            <hr style="border-top: 1px solid rgb(222, 222, 222);">
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <input type="text" placeholder="Signature">
                <input type="date" placeholder="Date (MM-DD-YYYY) ">
                <input type="text" placeholder="Print name of signer">
            </div>
            <button (click)='fillForm()' style="margin-top: 30px;margin-bottom: 30px;" class="btn btn-dark">Submit</button>
        </div>
    </div>
</div>