<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
            <p class="text-lead text-light">There are couple of steps below to restore you access</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <!--div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
            <div class="text-center">
              <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div-->
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <!--small>Sign up with credentials</small-->
            </div>
            <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSignup()" novalidate>
              <!--username-->
              <div class="form-group" style="margin-bottom: 10px;">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Enter Your Username"
                  formControlName='username' id='username' type="text" required>
                </div>
              </div>
              <div style="color:red;text-align: right; font-size: small; margin-bottom: 10px;" 
              *ngIf="forgotPasswordForm.controls['username'].invalid && forgotPasswordForm.controls['username'].touched">Username is required</div>
              <!--email-->
              <div class="form-group" style="margin-bottom: 10px;">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Enter Your Email" 
                  type="email" id='email' formControlName="email" required>
                </div>
              </div>
              <div style="color:red; text-align: right; 
              font-size: small; margin-bottom: 10px;" 
              *ngIf="forgotPasswordForm.controls['email'].invalid 
              && forgotPasswordForm.controls['email'].touched">
              Email is required</div>
              <!--password-->
              <div class="form-group" style="margin-bottom: 10px;">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="New Password" type="password"
                  id='password' formControlName="password" required>
                </div>
              </div>
              <div style="color:red; text-align: right; 
              font-size: small; margin-bottom: 10px;" 
              *ngIf="forgotPasswordForm.controls['password'].invalid 
              && forgotPasswordForm.controls['password'].touched">
              Password is required</div>
              <!--confirmpassword-->
              <div class="form-group" style="margin-bottom: 10px;">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Repeat New Password" 
                  type="password" id='confirmationpassword' 
                  formControlName="confirmationpassword" required autocomplete="new-password">
                </div>
              </div>
              <div style="color:red; text-align: right; 
              font-size: small; margin-bottom: 10px;" 
              *ngIf="forgotPasswordForm.controls['confirmationpassword'].invalid 
              && forgotPasswordForm.controls['confirmationpassword'].touched">
              Password needs to be confirmed</div>
              <!--div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
              <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                    <label class="custom-control-label" for="customCheckRegister">
                      <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                    </label>
                  </div>
                </div>
              </div-->
              <!--submit button-->
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4" 
                [disabled]="!forgotPasswordForm.valid">Update Password</button>
              </div>
            </form>
            <br>
            <div style="color:red; text-align: center;" 
            *ngIf="serverErrors">{{serverErrors}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  