<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>
<form>
  <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <form role="form" [formGroup]="portfolioForm" (ngSubmit)="onSave()" novalidate *ngIf="portfoliosContentList && portfoliosInfo">
                <div class="card-header border-0">
                  <h3 class="mb-0">
                  <span><b>Selected Portfolio:</b> {{ portfoliosInfo.portfolio_name }} </span>
                  <span style="margin-left: 10%;"><b style="margin-right: 2%;">Capital:</b> 
                  <select style="width: 40px; border: 0px" formControlName='cap_currency' (change)="recalcPortfolio()">
                        <option value="$">$</option>
                        <option value="rub">₽</option>
                  </select>  
                    <span style="margin-left: 2%;">
                      <input formControlName='capital' name = "capital" (keyup)="recalcPortfolio()">
                    </span>
                  </span>
                  <span style="margin-left: 10%;" *ngIf="portfoliosInfo.start_date"><b>Optimization Period:</b> {{ portfoliosInfo.start_date }} - {{ portfoliosInfo.end_date }}</span>
                  <span style="margin-left: 10%;" *ngIf="portfoliosInfo.er"><b>ER:</b>{{ portfoliosInfo.er }}</span> </h3>
                </div>
              <div class="table-responsive">
                <table #el class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                        <th scope="col">Delete</th>
                        <th scope='col'>Asset</th>
                        <th scope="col">Lot</th>
                        <th scope="col">Lots to buy</th>
                        <th scope="col">%</th>
                        <th scope="col">Money Spent</th>
                        <th scope="col">Used Price*</th>
                    </tr>
                  </thead>
                  <tbody formArrayName='pAssets' *ngFor="let p_asset of portfolioForm.get('pAssets').controls; let i = index" >
                    <tr [formGroup]='p_asset'>
                      <th scope="row">
                        <button class = "btn" attr.data-rid={{i}}
                        (click)='deleteAssetFromUi($event)'>
                        <i class="ni ni-fat-remove"
                        attr.data-rid="{{i}}"
                        id="{{i}}" name= 'delete'>
                        </i>
                      </button>
                      </th>
                      <td>                      
                        <input formControlName="asset" 
                          (change)="setNewAsset($event)" 
                          (keyup)="getMatchingAssets($event)" 
                          list="dynmicAssets"
                          id="{{i}}" name='asset_name'> 
                        <datalist id="dynmicAssets" >
                          <option *ngFor="let item of assetList" value="{{item.ticker + ' ' + item.name }}">{{item.name}}</option>
                        </datalist>
                      </td>
                      <td style="width: 98px;">
                        <input style="width: 50px;" 
                        formControlName="lot"
                        id="{{i}}" name='lot'>
                      </td>
                      <td>
                        <input style="width: 50px;" 
                        formControlName="to_buy"
                        id="{{i}}" name='to_buy'
                        (keyup)="setNewToBuy($event)">
                      </td>
                      <td>
                        <input style="width: 50px;" 
                        formControlName="percentage"
                        id="{{i}}" name='percentag'
                        (keyup)="setNewPercentage($event)">
                      </td>
                      <td>
                        <input formControlName="money"
                        id="{{i}}" name='money'>
                      </td>
                      <td class="text-left">
                        <input style="width: 50px;" formControlName="price"
                        id="{{i}}" name='price'>
                      </td>
                    </tr>
                  </tbody>
                  <button class = "btn-secondary" (click)="addRow()"><i class= "ni ni-fat-add"></i></button>
                </table>
              </div>
            </form>
            <div class="card-footer py-4">
              <span>Total Money Spent: <span id="totalMoneySpent">{{ InitTotalMoneySpent }}</span></span>
              <span style="margin-left: 10%;">Total Percentage: <span id="totalPercentage">{{ InitTotalPercentage }}</span></span>
              <span style="margin-left: 10%;">Free Money: <span id="freeMoney">{{ InitFreeMoney }}</span></span>
              <!--nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav-->
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
  