.custom-row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.custom-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 400px;
    bottom: 100%;
    left: 50%;
    margin-left: -200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}

.custom-input-capital {
    display: inline-block;
    width: 65%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .custom-input-capital:focus {
    border-color: #fbc2b3;
    outline: orange;
    box-shadow: 0 0 0 0.2rem rgba(244, 98, 58, 0.25);
  }
  .custom-select-capital {
    display: inline-block;
    width: 30%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }