<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
</div>

<div style="margin-top: 3%;"><h2 class="text-center mt-0" >Пара деталей</h2></div>
<div id="log"></div>
<div>
    <form role="form" [formGroup]="optimizationForm" novalidate (ngSubmit)="startOptimization()">
        <div class="custom-row">
            <div class="col-lg-3 col-md-6 text-center">
                    <h3 class="h4 mb-2">Капитал: </h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <select class="custom-select-capital" formControlName='cap_currency' style="margin-right: 2%;">
                        <!--option value="rub">RUB</option-->
                        <option value="dollar">$</option>
                    </select>
                    <input class = "custom-input-capital" name='capital' formControlName='capital'>
                </p>         
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="custom-tooltip">
                    <i class="ni ni-bulb-61"></i>
                    <p class="custom-tooltiptext">Нам нужно знать, сколько денег вы готовы вложить в портфель
                        так чтобы мы могли распределить его между акциями, облигациями и ETF в соответствии с их ценами и минимальным лотом.</p>
                </div>
            </div>
        </div>
        <div class="custom-row">
            <div class="col-lg-3 col-md-6 text-center">
                <h3 class="h4 mb-2">Биржа: </h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <select class="custom-select" formControlName='exchange'>
                        <!--option value="MOEX">MOEX</option-->
                        <option value="NYSE and NASDAQ">NYSE and NASDAQ</option>
                        <!--option value="US and Russian Market">US and Russian Market</option-->
                    </select>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="custom-tooltip">
                    <i class="ni ni-bulb-61"></i>
                    <p class="custom-tooltiptext">Вы можете выбрать биржу, из акций которой будет собран портфель.</p>
                </div>
            </div>

        </div>
        <div class="custom-row">
            <div class="col-lg-3 col-md-6 text-center">
                <h3 class="h4 mb-2">Группа активов: </h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <select class="custom-select" formControlName='asset_group'>
                        <option value="Blue Chips">Голубые фишки</option>
                        <!--option value="TOP-30 Stocks">TOP Stocks</option>
                        <option value="TOP-30 Stocks + Bonds">TOP Stocks + Bonds</option>>
                        <option value="No Oil">Without Energetic Branch</option-->
                    </select>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="custom-tooltip">
                    <i class="ni ni-bulb-61"></i>
                    <p class="custom-tooltiptext">Выберите активы, которые будут анализироваться: включите безопасные облигации.
                        или покупайте только акции высокоэффективных компаний.
                        Не нравится, как цены на нефть движут рынки? Исключить энергетические компании.</p>
                </div>
            </div>
        </div>
        <div class="custom-row" *ngIf="isBPayed === 'true'">
            <div class="col-lg-3 col-md-6 text-center">
                <h3 class="h4 mb-2">Метод прогноза: </h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <select class="custom-select" formControlName='forecast_method'>
                        <option value="average" selected>Average</option>
                        <option value="finefolio">FineFolio</option>
                    </select>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="custom-tooltip">
                    <i class="ni ni-bulb-61"></i>
                    <p class="custom-tooltiptext">По умолчанию мы будем использовать нестареющую классику — усреднение, 
                        (ARIMA-GARCH) возможно скоро появиться как платная функция.</p>
                </div>
            </div>
        </div>
        <div class="custom-row" *ngIf="isBPayed === 'true'">
            <div class="col-lg-3 col-md-6 text-center">
                <h3 class="h4 mb-2">Метод оптимизации: </h3>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <select class="custom-select" formControlName='opt_method'>
                        <option value="markowitz" selected>Markowitz</option>
                        <option value="finefolio">Sharpe Ratio Maximization</option>
                    </select>
                </p>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="custom-tooltip">
                    <i class="ni ni-bulb-61"></i>
                    <p class="custom-tooltiptext">По умолчанию мы будем использовать максимизацию прибыли
                        с ограничением риска ниже или равным 2 % (так называемая оптимизация Марковица),
                        Следующим вариантом является максимизация коэффициента Шарпа.</p>
                </div>
            </div>
        </div>
        <div class="custom-row">
            <div class="col-lg-3 col-md-6 text-center">
                <h3 class="h4 mb-2">Период оптимизации</h3>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <p>
                    <input type="checkbox" id="yes1" (change)="datesOn()" formControlName='use_custom_period' 
                    style="margin-right: 2%;">
                    <label style="margin-right: 4%;" for="yes1">Выбрать даты самому</label>
                    <input type="checkbox" id="no1" (change)="datesOff()" formControlName='use_default_period'
                    style="margin-right: 2%;">
                    <label for="no1">Сделайте все за меня</label><br>
                </p>
            </div>  
            <div class="col-lg-3 col-md-6 text-center">
                <div class="custom-tooltip">
                    <i class="ni ni-bulb-61"></i>
                    <p class="custom-tooltiptext">Рекомендуемый способ — выбрать прошлый год для расчета портфеля на следующий год.
                        Но вы можете выбрать собственный диапазон, например, чтобы симулировать успехи портфеля в 2019 году 
                        нужно оптимизировать его на данных 2018 года</p>
                </div>
            </div>
        </div>
        <div class="custom-row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="form-group" id="startdate1" style="display:none">
                    <label for="inputDate">Дата начала:</label>
                    <input type="date" 
                    class="form-control"
                    formControlName='start_date'
                    min="2008-01-01" 
                    id="startdate1inp">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="form-group" id = "enddate1" style="display:none">
                    <label for="inputDate">Дата оконачания:</label>
                    <input type="date" 
                    class="form-control"
                    formControlName='end_date' 
                    min="2008-02-01" 
                    id="enddate1inp">
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3 class="h4 mb-2"> </h3>
                <!--input type="checkbox" id="save" formControlName="save_result">
                <label for="save">I want to save calculated portfolio</label><br-->
                <p>
                    <input [disabled]="!optimizationForm.valid" 
                    class="btn btn-primary btn-xl" 
                    type="submit" 
                    value="Собрать портфель">
                </p>
            </div>
        </div>
        <br>
        <span *ngFor="let error of uiErrors">
            <div style="color:red; text-align: center;">{{error}}</div>
        </span>
        <br>
        <div style="color:red; text-align: center;" *ngIf="serverErrors">{{serverErrors}}</div>
    </form>
</div>