<div class="card shadow" style="margin-bottom:3rem;">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
          <h6 class="text-uppercase text-muted ls-1 mb-1"> Portfolio Optimization</h6>
          <h2 class="mb-0" style="display: inline; margin-right: 5px;">Tasks Status</h2>
          <button class="btn btn-light" 
          style="zoom: 0.6; margin-bottom: 10px;"
          (click) = "refreshStatus()">
            <i style="font-size:24px" class="fa">&#xf021;
            </i>
          </button>
        </div>
      </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf='showTasks; else noTasks'>
                    <tr>
                        <td>
                            <font id='taskStatus' color="grey" size="3">{{ taskStatus }}</font>
                        </td>
                        <td>
                            <div id="mbc-spinner" class="mbc-spinner"></div>
                            <button id = 'seeResultBtn' class='btn btn-dark' (click)='seeOptimizationResults()' style="display:none" disabled>See Result</button>
                        </td>
                    </tr>
                </tbody>
                <ng-template #noTasks>
                    <!--span style="margin-top: 10%;margin-right: 5%; margin-bottom: 10%;">No Active Task</span-->
                    <a href="/#/optimization" class="btn">Run New Optimization Task</a>
                </ng-template>
            </table>
        </div>
    </div>
</div>
